# Основные зависимости Airflow для работы с различными базами данных и облачными провайдерами
# apache-airflow
# apache-airflow-providers-postgres          # PostgreSQL
# apache-airflow-providers-mysql             # MySQL
# apache-airflow-providers-google             # Google Cloud
# apache-airflow-providers-amazon             # AWS

# Библиотеки для машинного обучения
# scikit-learn                                 # Основная библиотека для Машинного Обучения
# tensorflow                                   # Библиотека для глубокого обучения
# torch                                        # PyTorch, альтернатива TensorFlow
# xgboost                                      # Бустинг для структурированных данных
# lightgbm                                     # Быстрая библиотека для градиентного бустинга

# Библиотеки для работы с данными
# pandas                                       # Для анализа и манипуляции данными
# numpy                                        # Для численных вычислений
# dask                                         # Для параллельных вычислений с большими данными
# pyarrow                                      # Для работы с Apache Arrow (например, для работы с Parquet-файлами)

# Библиотеки для визуализации
# matplotlib                                    # Основная библиотека для визуализации данных
# seaborn                                      # Упрощает создание красивых визуализаций
# plotly                                       # Для интерактивной визуализации данных

# Библиотеки для обработки текста
# nltk                                         # Natural Language Toolkit
# spacy                                        # Современная библиотека для обработки естественного языка
# transformers                                  # Для работы с трансформерами и предварительно обученными моделями (напр. BERT)

# Библиотеки для работы с API
# requests                                     # Для выполнения HTTP-запросов
# flask                                        # Если вы встроите модель в веб-приложение

# Другие полезные библиотеки
# joblib                                       # Для сериализации моделей
# mlflow                                       # Для отслеживания экспериментов в машинном обучении
# pydantic                                     # Для валидации и управления данными

